<%= content_for :title,  "Welcome to Stinky Trainers" %>

<div class="well">
	<p>Stinky trainers is a website that let's you organise your sports life with your friends:</p>
	<ul>
		<li>Organise games.</li>
		<li>Track your results.</li>
		<li>Monitor your progress.</li>
		<li>Laugh at your friends when they lose.</li>
		<li>Point out their luck when they win.</li>
	</ul>
</div>

<div class="well">
	<p>Stinky trainers is also an in-depth <a href="/ruby-on-rails-tutorial/">Ruby on Rails Tutorial</a> for anyone wanting to learn web development.</p>
</div>
