<h1>1. Stinky Trainers</h1>

<p>Welcome to the stinky trainers tutorial where you&#39;ll learn how we built stinkytrainers.co.uk. Unlike many Rails tutorials we won&#39;t be building an application in 15 minutes, Stinky Trainers will take some time but at the end of it you&#39;ll have a built a full Rails app and have learned enbough to start building your own web applications in Rails.</p>

<p>Rails development isn&#39;t just fast it&#39;s also fun with a very helpful and friendly community. Take your time over this tutorial, enjoy learning Rails and feel free to ask any questions in the comments boxes you&#39;ll find throughout. </p>

<ol>
<li><a href="#before-we-start">Before we start:</a></li>
<li><a href="#create-the-application">Create the application:</a></li>
<li><a href="#rspec">Rspec</a></li>
<li><a href="#twitter-bootstrap">Twitter Bootstrap</a></li>
<li><a href="#start-the-application">Start the Application</a></li>
</ol>

<p><a id='before-we-start'></a></p>

<h2>1.1. Before we start:</h2>

<h3>1.1.1. Make sure we have Ruby 1.9.3</h3>

<p>Stinky Trainers is built on Rails 3.2 and Ruby 1.9.3. If you don&#39;t have Ruby 1.9.3 then we recommend installing it using RBenv; a command-line tool that let&#39;s you run multiple versions of Ruby on one machine. You can easily check what version of ruby you have by running the command:</p>
<div class="highlight"><pre><span class="go">ruby -v</span>
</pre></div>

<h3>1.1.2. Make sure we have Rails</h3>

<p>We need Rails so that we can use the Rails command line to generate a new Rails App for us. Run the command line:</p>
<div class="highlight"><pre><span class="go">gem list</span>
</pre></div>

<p>and if you don&#39;t see something like:</p>

<p>rails (3.2.8, 3.2.6, 3.2.3, 3.0.11) </p>

<p>Note that 3.2.8, 3.2.6, 3.2.3, 3.0.11 are the versions of the Rails gem on the machine so they&#39;ll almost certainly be different on yours.</p>

<h3>1.1.3. Make sure we have Bundler</h3>

<p>Bundler is a ruby gem that manages other gems in a single application, a bit like having a package manager but just for your application and not the entire system.</p>

<p>If you don&#39;t have bundler then install it:</p>
<div class="highlight"><pre><span class="go">gem install bundler</span>
</pre></div>

<p>If you do have bundler it&#39;s a good idea to ensure you have a reasonably recent version. If you&#39;re not sure then just get the latest version by running:</p>
<div class="highlight"><pre><span class="go">gem update bundler</span>
</pre></div>

<div class="fb-comments" data-href="http://www.stinkytrainers.co.uk/rails-tutorial/1-setting-up-the-application.html#before-we-start" data-num-posts="2" data-width="auto" class='span8'></div>

<p><a id='create-the-application'></a></p>

<h2>1.2. Create the application:</h2>

<h3>1.2.1. Give it a home</h3>

<p>Choose a folder where you&#39;d like to create your applications. I used ~/devel/rails. Open a terminal and cd through to this folder then generate the application from the command line:</p>
<div class="highlight"><pre><span class="go">rails new stinkytrainers --skip-test-unit</span>
</pre></div>

<p>If you&#39;re wondering what <strong>--skip-test-unit</strong> does, it just tells the Rails generator that we don&#39;t want to use <strong>test unit</strong> the default testing framework that comes with Rails. Instead we&#39;ll be installing the more expressive testing framework <strong>rspec</strong> in just a few minutes time. </p>

<p>You&#39;ll see that rails has created a lot of files and folders for you.</p>

<h3>1.2.2. Important Files &amp; Folders:</h3>

<p>the <strong>app</strong> folder is where all the code will go.</p>

<p><strong>config/database.yaml</strong> - database connection (by default sqlite3). Note that Rails assumes three environments, Development, Test, Production 
<strong>config/routes.rb</strong> - connecting web requests to controllers and actions.<br>
<strong>db</strong> is where our database migrations will go when we create them.
<strong>doc</strong> is for documentation.
<strong>public</strong> contains static html files (including the default home page index.html).
<strong>public/system</strong> - used by rails for local storage of files like the uploaded images we&#39;ll be adding later with paperclip.
<strong>lib</strong> is for code not specific to our application.
<strong>log</strong> is where the Rails logger writes to</p>

<h3>1.2.3. Less Important Files &amp; Folders:</h3>

<p><strong>tmp</strong> - used by rails for storing temp files like session data, cookie data, PIDs etc.
<strong>vendor</strong> - we can ignore this. it&#39;s used for the obsolete rails plugins used before gems were invented.<br>
<strong>script</strong> - scripts provided by Rails and other gems we install to start the app, generate code etc. Typically we don&#39;t add or edit things in this folder. We certainly DON&#39;T want to put things like our javascript files here.</p>

<p><a id='rspec'></a></p>

<h2>1.3. Rspec</h2>

<h3>1.3.1. What is RSpec ?</h3>

<p>We told the Rails generator to skip test unit but testing is going to be very central to building this app so we&#39;re going to use the Rspec gem. We&#39;re also going to use capybara, a gem that will let us simulate a web browser in our test and launchy, a gem to launch browsers.</p>

<p>If you&#39;re wondering what we mean by Rspec being &#39;more expressive&#39; than Test Unit then just compare these two ways of testing the same thing:</p>
<div class="highlight"><pre><span class="n">user</span><span class="o">.</span><span class="n">name</span><span class="o">.</span><span class="n">should</span> <span class="o">==</span> <span class="s1">&#39;steve&#39;</span> <span class="c1"># a typical rspec test.</span>
<span class="n">assert_equal</span><span class="p">(</span><span class="s1">&#39;steve&#39;</span><span class="p">,</span> <span class="n">user</span><span class="o">.</span><span class="n">name</span><span class="p">)</span> <span class="c1"># a typical test unit test.</span>
</pre></div>

<h3>1.3.2. Add the Rspec gem to the bundler&#39;s Gemfile in the root of the application</h3>

<p>Generally we&#39;ll be very explicit about what versions of gem we need in this tutorial, probably more explicit than would be needed in a typical application but this will ensure you have the exact same gemset that we are using so you&#39;re less likely to encounter some unexpected versioining issue. Versioning problems are uncommon in Rails and easily resolved with a only little bit of experience but they&#39;re also a problem you just don&#39;t need at this stage.</p>

<p>Add these lines to the Gemfile in the root of your application. Note that we&#39;re putting them into a group called &#39;test&#39; because we don&#39;t need these gems on our production server, just the cumputer we&#39;re using to test the application, typically this will be your development machine.</p>
<div class="highlight"><pre><span class="n">group</span> <span class="ss">:development</span><span class="p">,</span> <span class="ss">:test</span> <span class="k">do</span>
  <span class="n">gem</span> <span class="s1">&#39;rspec-rails&#39;</span><span class="p">,</span> <span class="s1">&#39;=2.11.0&#39;</span>
  <span class="n">gem</span> <span class="s1">&#39;capybara&#39;</span><span class="p">,</span> <span class="s1">&#39;=1.1.2&#39;</span>
  <span class="n">gem</span> <span class="s1">&#39;launchy&#39;</span><span class="p">,</span> <span class="s1">&#39;=2.1.2&#39;</span>
<span class="k">end</span>
</pre></div>

<h3>1.3.3. Download and install these gems</h3>
<div class="highlight"><pre><span class="go">bundle install</span>
</pre></div>

<p>What just happened..</p>

<p>bundler looked at our Gemfile and downloaded the Rspec and Capybara gems plus any other gems that Rspec and Capybara depend upon. If the gem already existed on your computer it will use that gem.</p>

<h3>1.3.4. Run the RSpec generator</h3>

<p>Most gems don&#39;t need any special install instructions but Rspec needs to create some folders and files so run</p>
<div class="highlight"><pre><span class="go">bundle exec rails generate rspec:install</span>
</pre></div>

<p>What just happened:</p>

<p>The Rspec gem just created a <strong>spec</strong>_ folder and a file  <strong>spec/spec_helper.rb</strong>. This file has some code that will help you run tests. We&#39;ll also be adding some of our own code here a little later as we write our own code to help us write tests.</p>

<h3>1.3.5. Configure Capybara</h3>

<p>The Capybara gem allows us to simulate browser interaction so that we can build this into our tests. Add the following line to <strong>spec/spec_helper.rb</strong> after require <strong>rspec/autorun</strong>. This will load the capybara test methods. </p>
<div class="highlight"><pre><span class="nb">require</span> <span class="s1">&#39;capybara/rails&#39;</span>
</pre></div>

<p><a id='twitter-bootstrap'></a></p>

<h2>1.4. Twitter Bootstrap</h2>

<p>This is a Rails tutorial so we won&#39;t waste time on web design and layout but it&#39;s always nice when our application looks a little sexy so to make that happen and to save us loads of time we&#39;ll install Twitter Bootstrap - an HTML, CSS and Javascript library - to make Stinkytrainers. Twitter Bootstrap is intended for all kinds of website but we can install it using the twitter boostrap gem. Add this lines to our Gemfile just above the line <code>gem &#39;jquery-rails&#39;</code>:</p>
<div class="highlight"><pre><span class="n">gem</span> <span class="s2">&quot;twitter-bootstrap-rails&quot;</span><span class="p">,</span> <span class="s2">&quot;=2.0.7&quot;</span>
<span class="n">gem</span> <span class="s1">&#39;jquery-rails&#39;</span>
</pre></div>

<p>Now install the gem:</p>
<div class="highlight"><pre><span class="go">bundle install</span>
</pre></div>

<p>and then run the generator.</p>
<div class="highlight"><pre><span class="go">bundle exec rails g bootstrap:install</span>
</pre></div>

<p>Take a look at the files it generated:</p>
<div class="highlight"><pre><span class="go">insert  app/assets/javascripts/application.js</span>
<span class="go">create  app/assets/javascripts/bootstrap.js.coffee</span>
<span class="go">create  app/assets/stylesheets/bootstrap_and_overrides.css.less</span>
<span class="go">  gsub  app/assets/stylesheets/application.css</span>
<span class="go">  gsub  app/assets/stylesheets/application.css</span>
</pre></div>

<p>The Twitter Boostrap gem has created the files <strong>bootstrap.js.coffee</strong> and <strong>bootstrap<em>and</em>overrides.css.less</strong> then added itself to <strong>app/assets/javascripts/application.js</strong></p>

<p>Now we&#39;re going to use Twitter Boostrap to create a new layout. Take a look at the file <strong>app/views/layouts/application.html.erb</strong>. This is a Rails layout, basically a wrapper that will &#39;top &amp; tail&#39; every page that we create. Typically we would put common elements such as html head and our site navigation into application.html.erb. The file you&#39;re looking at is the standard one created by Rails but we are going to replace it with a fixed-width layout generated by Twitter Bootstrap that will also contain lots of nice examples like a default navigation.</p>

<p>Run this command</p>
<div class="highlight"><pre><span class="go">bundle exec rails g bootstrap:layout application fixed</span>
</pre></div>

<p>You&#39;ll be asked if you want to replace the existing layout. Just say yes:</p>
<div class="highlight"><pre><span class="go">    conflict  app/views/layouts/application.html.erb</span>
<span class="go">Overwrite /Users/stephencreedon/devel/stinkytrainers/app/views/layouts/application.html.erb? (enter &quot;h&quot; for help) [Ynaqdh] Y</span>
<span class="go">       force  app/views/layouts/application.html.erb</span>
</pre></div>

<p><a id='start-the-application'></a></p>

<h2>1.5. Start the Application</h2>

<p>Now we&#39;ve installed all of the gems we need to get started. We&#39;ll be adding more gems as we go through but we&#39;ve got our core testing gems plus the Twitter gem to give us a look &amp; feel. It&#39;s time to start.</p>

<p>Start the application on the command line with:</p>
<div class="highlight"><pre><span class="go">bundle exec rails s</span>
</pre></div>

<p>Now open a browser and go to localhost:3000. If all is well you should see a colourful page saying <strong>Welcome Aboard</strong></p>

<p>That&#39;s the end of the first section. In the next section we will start building the application.</p>
