<p><a id='top'></a></p>

<h1>2. Create the home page</h1>

<p>The home page is the entry point to our application. Everybody should be able to access this page whether they&#39;re logged on or not making this the best place to start.</p>

<ol>
<li><a href="#using-rest-with-controllers-and-views-in-rails">Using REST with Controllers and Views in Rails</a></li>
<li><a href="#controller-for-the-home-page">Controller for the Home Page</a></li>
<li><a href="#view-for-the-home-page">View for the Home Page</a></li>
<li><a href="#testing-make-sure-the-home-page-displays-the-right-text">Testing - make sure the Home Page displays the right text.</a></li>
</ol>

<h2><a id='using-rest-with-controllers-and-views-in-rails'></a> 2.1. Using REST with Controllers and Views in Rails</h2>

<p>Rails is an <strong>MVC</strong> model-view-controller framework so we need a home controller <strong>C</strong> that will handle the request http://www.stinkytrainers.com and route this request through to our home page, commonly known as a &#39;view&#39; <strong>V</strong> in Rails language. If you&#39;re new to MVC you&#39;re probably asking where the model <strong>M</strong> is in MVC ? Well since this is our home page that doesn&#39;t do much we don&#39;t need a business model to do any fancy calculation for us.</p>

<h3>2.1.1. Rest</h3>

<p>The controllers in our application will all be Restful resources. The Rails website has <a href="http://guides.rubyonrails.org/routing.html#resource-routing-the-rails-default">a fuller discussion of Rails and Rest</a> but in a nutshell we&#39;ll be building controllers for entity:</p>

<ul>
<li>home</li>
<li>user</li>
<li>games</li>
<li>results</li>
<li>friends</li>
</ul>

<h3>2.1.2. Controllers</h3>

<p>Because we&#39;re using Rest, each of our controllers will have very similar sets of actions (also known as methods) giving us a level of consistency that will make it easy for us to find our way around the application as it grows.</p>

<ol>
<li><strong>def index</strong> will list all of the objects that controller is responsible for e.g. <strong>games_controller index</strong>_ will list all of the games.</li>
<li><strong>def new</strong> will display an empty form for creating a new object e.g. <strong>games_controller new</strong> will route through to an empty form for a new game.</li>
<li><strong>def show</strong> will display an existing object.</li>
<li><strong>def create</strong> will create a new object submitted by the form in <strong>def new</strong></li>
<li><strong>def edit</strong> will display a form populated by an existing object</li>
<li><strong>def update</strong> will update an existing object with details submitted by the form in <strong>def edit</strong></li>
<li><strong>def destroy</strong> will destroy an existing object</li>
</ol>

<h3>2.1.3. Rest: URLs &gt; Controllers &gt; Views</h3>

<p>The Rest convention allows Rails to automatically hook web requests to actions whuich then call controllers:</p>

<ol>
<li><strong>GET /games</strong> calls <strong>games_controller#index</strong> method which displays the <strong>games/index.html.erb</strong> view.</li>
<li><strong>GET /games/new</strong> calls <strong>games_controller#new</strong> method which displays the <strong>games/new.html.erb</strong>_ view.</li>
<li><strong>POST /games</strong> calls the <strong>games_controller#create</strong> method which will either:

<ul>
<li>If something is wrong with the data and the game can&#39;t be created then display the <strong>games/new.html.erb</strong>.</li>
<li>If the data is correct and the game is created then redirect to a list of all the games (the <strong>games#index</strong> action).</li>
</ul></li>
<li><strong>GET /games/123</strong> calls the <strong>games_controller#show</strong> action which displays the game with id 123 in <strong>games/show.html.erb</strong>.</li>
<li><strong>GET /games/edit</strong> calls the <strong>games_controller#edit</strong> action which displays a form populated with the game with id 123 in the view <strong>games/edit.html.erb</strong>.</li>
<li><strong>PUT</strong> calls the <strong>games_controller#update</strong> action which will either:

<ul>
<li>If something is wrong with the data and the game can&#39;t be created then display the <strong>games/edit.html.erb</strong>.</li>
<li>If the data is correct and the game is updated then redirect to a list of all the games (the <strong>games#index</strong> action).</li>
</ul></li>
<li><strong>DELETE /games/123</strong> will call the <strong>games_controller#destroy</strong>_ action which will then redirect to a list of all the games (the <strong>games#index</strong> action).<br></li>
</ol>

<p><strong>GET</strong>, <strong>POST</strong>, <strong>PUT</strong> and <strong>DELETE</strong> are all standard HTTP Verbs. You can find out more about HTTP verbs here. Those of you familiar with HTTP verbs will probably be aware that web browsers generally don&#39;t use <strong>PUT</strong> and <strong>DELETE</strong>. Rails appends parameters to the request update and destroy requests that will be interpreted by Rails server as <strong>PUT</strong> and <strong>DELETE</strong>.</p>

<div class="fb-comments"
     data-href="http://www.stinkytrainers.co.uk/ruby-on-rails-tutorial/2-create-the-home-page.html#using-rest-with-controllers-and-views-in-rails"
     data-num-posts="2"
     data-width="auto">
</div>

<p><a href="#top">back to top</a></p>

<h2><a id='controller-for-the-home-page'></a> 2.2. Controller for the Home Page</h2>

<p>OK so that&#39;s enough theory for now. Let&#39;s write some code. Ww&#39;ll create our first controller using one of the Rails generators:</p>
<div class="highlight"><pre><span class="go">  bundle exec rails g controller home index</span>
</pre></div>

<p><strong>What just happened ?</strong></p>

<p>The rails generator created a controller <strong>app/controllers/home_controller.rb</strong><em>. It gave the controller an action called _</em>index__ and created a view that will match the index action <strong>app/views/home/index.html.erb</strong>. Rails also created a helper file for our view (we&#39;ll come to that later) and some files under our spec folder for testing the controller and views. We won&#39;t be testing the home page as it&#39;s not really doing anything.</p>
<div class="highlight"><pre><span class="go">   create app/controllers/home_controller.rb</span>
<span class="go">    route get &quot;home/index&quot;</span>
<span class="go">      invoke erb</span>
<span class="go">     create  app/views/home</span>
<span class="go">     create  app/views/home/index.html.erb</span>
<span class="go">     invoke rspec</span>
<span class="go">     create  spec/controllers/home_controller_spec.rb</span>
<span class="go">     create  spec/views/home</span>
<span class="go">     create  spec/views/home/index.html.erb_spec.rb</span>
<span class="go">     invoke helper</span>
<span class="go">     create  app/helpers/home_helper.rb</span>
<span class="go">     invoke  rspec</span>
<span class="go">     create   spec/helpers/home_helper_spec.rb</span>
<span class="go">     invoke assets</span>
<span class="go">     invoke  coffee</span>
<span class="go">     create   app/assets/javascripts/home.js.coffee</span>
<span class="go">    invoke  scss</span>
<span class="go">    create   app/assets/stylesheets/home.css.scss</span>
</pre></div>

<h3>2.2.1. Link the root &quot;/&quot; path to home controller</h3>

<p>Rails can&#39;t know that we want the home controller to manage the home page for our application so add this line to <strong>config/routes.rb</strong></p>
<div class="highlight"><pre><span class="n">root</span> <span class="ss">:to</span> <span class="o">=&gt;</span> <span class="s1">&#39;home#index&#39;</span>
</pre></div>

<p>and delete the line</p>
<div class="highlight"><pre><span class="n">get</span> <span class="s2">&quot;home/index&quot;</span>
</pre></div>

<p>which was auto-generated for us.</p>

<p>This tells rails that the root of our application is the <strong>index</strong> action of the <strong>home</strong> controller, i.e. <strong>def index</strong> in <strong>app/controllers/home_controller.rb</strong>. Rails will call this action and then render the view <strong>app/views/home/index.html.erb</strong> unless we specifically tell it not to (which we won&#39;t).</p>

<div class="fb-comments"
     data-href="http://www.stinkytrainers.co.uk/ruby-on-rails-tutorial/2-create-the-home-page.html#controller-for-the-home-page"
     data-num-posts="2"
     data-width="auto">
</div>

<p><a href="#top">back to top</a></p>

<h2><a id='view-for-the-home-page'></a> 2.3. View for the Home Page</h2>

<h3>2.3.1. Put something on the home page to look at:</h3>

<p>The home page <code>app/views/home/index.html.erb</code> was already created for us when we generated the controller. Add this line to the home page:</p>
<div class="highlight"><pre>  <span class="o">&lt;</span><span class="n">h1</span><span class="o">&gt;</span><span class="no">Welcome</span> <span class="n">to</span> <span class="no">Stinky</span> <span class="no">Trainers</span><span class="o">&lt;</span><span class="sr">/h1&gt;</span>
</pre></div>

<p>We have a controller method and a view so now we&#39;re ready to start our application.</p>
<div class="highlight"><pre><span class="go">bundle exec rails s</span>
</pre></div>

<p>Browse to <strong>localhost:3000</strong>. There&#39;s a problem. You can probably see the same page &quot;welcome to rails&quot; page we saw at the end of the previous section. Clearly this isn&#39;t the <strong>Welcome to Stinky Trainers</strong> we expected on thehome page so what&#39;s happened ? </p>

<p>When a page or file is requested Rails always checks the public directory first to see if there is a real file there before it runs any code (it&#39;s always much quicker and easier to return a real file than to build one in code). If you look in the <strong>/public</strong> folder you&#39;ll see an <strong>index.html</strong> file. Rails is finding this page and just returning it instead calling of our <strong>home_controller#index</strong> then <strong>index.hrml.erb</strong>. It&#39;s an easy fix; just delete public/index.html.erb, refresh the page in your browser and you should see some <strong>stinky trainers</strong>.</p>

<p><img src="/assets/3.2_first_home_page.png" alt="Our first home page"></p>

<div class="fb-comments"
     data-href="http://www.stinkytrainers.co.uk/ruby-on-rails-tutorial/2-create-the-home-page.html#view-for-the-home-page"
     data-num-posts="2"
     data-width="auto">
</div>

<p><a href="#top">back to top</a></p>

<h2><a id='testing-make-sure-the-home-page-displays-the-right-text'></a> 2.4. Testing - make sure the Home Page displays the right text.</h2>

<p>One of the strengths of Ruby and Rails is the ease with which we can write expressive testing code. Ruby is scripted, not compiled, so we don&#39;t have an IDE or compiler to sanity check our code for us. That means we need to write lots of tests. If you&#39;re not used to Test Driven Development, it&#39;s one of those things that seems really alien at first but then you quickly begin to wonder how you ever managed without it.</p>

<p>Our dashboard page doesn&#39;t do very much at this stage so let&#39;s start with just a very basic test:</p>

<h3>2.4.1. Inside the describe block in spec/views/home/index.html.erb_spec.rb</h3>
<div class="highlight"><pre><span class="n">it</span> <span class="s1">&#39;should display a welcome message on the Stinky Trainers on the home page&#39;</span> <span class="k">do</span>
    <span class="n">render</span>
    <span class="n">rendered</span><span class="o">.</span><span class="n">should</span> <span class="n">have_content</span><span class="p">(</span><span class="s2">&quot;Stinky trainers is a website that let&#39;s you organise your sports life&quot;</span><span class="p">)</span>
<span class="k">end</span>
</pre></div>

<h3>2.4.2. Run the test</h3>
<div class="highlight"><pre><span class="go">bundle exec rspec</span>
</pre></div>

<p>You should see something like:</p>
<div class="highlight"><pre><span class="go">*.*</span>

<span class="go">Pending:</span>
<span class="go">  DashboardHelper add some examples to (or delete) /Users/stephencreedon/devel/stinkytrainers/spec/helpers/dashboard_helper_spec.rb</span>
<span class="go">    # No reason given</span>
<span class="go">    # ./spec/helpers/dashboard_helper_spec.rb:14</span>
<span class="go">  dashboard/index.html.erb add some examples to (or delete) /Users/stephencreedon/devel/stinkytrainers/spec/views/dashboard/index.html.erb_spec.rb</span>
<span class="go">    # No reason given</span>
<span class="go">    # ./spec/views/dashboard/index.html.erb_spec.rb:4</span>

<span class="go">Finished in 0.12117 seconds</span>
<span class="go">4 examples, 0 failures, 2 pending</span>
</pre></div>

<p>Pending tests are empty tests that the generators have created for us but we haven&#39;t coded yet. The important thing is there are no failures. Take a look at the first and the last lines last lines:</p>
<div class="highlight"><pre><span class="go">*.*</span>

<span class="go">---</span>

<span class="go">4 examples, 0 failures, 2 pending</span>
</pre></div>

<p>The <em>.</em> is a Pending test, a passed test and a pending test.</p>

<p>Let&#39;s experiment a little and confirm the test is working by breaking it. Change have<em>content test in _</em>spec/views/home/index.html.erb_spec.rb__ to have_content(&quot;Welcome to Smelly Socks&quot;)</p>
<div class="highlight"><pre><span class="go">bundle exec rspec</span>
</pre></div>

<p>If you read the results in console you should see that test has failed with out put something like:</p>
<div class="highlight"><pre><span class="go">**F</span>

<span class="go">Pending:</span>
<span class="go">  dashboard/index.html.erb add some examples to (or delete) /Users/stephencreedon/devel/stinkytrainers/spec/views/dashboard/index.html.erb_spec.rb</span>
<span class="go">    # No reason given</span>
<span class="go">    # ./spec/views/dashboard/index.html.erb_spec.rb:4</span>
<span class="go">  DashboardHelper add some examples to (or delete) /Users/stephencreedon/devel/stinkytrainers/spec/helpers/dashboard_helper_spec.rb</span>
<span class="go">    # No reason given</span>
<span class="go">    # ./spec/helpers/dashboard_helper_spec.rb:14</span>

<span class="go">Failures:</span>

<span class="go">  1) home/index.html.erb shows display welcome to stinky trainers on the home page</span>
<span class="go">     Failure/Error: rendered.should have_content(&quot;Welcome to Smelly Socks&quot;)</span>
<span class="go">       expected there to be content &quot;Welcome to Smelly Socks&quot; in &quot;Welcome to Stinky Trainers&quot;</span>
<span class="go">     # ./spec/views/home/index.html.erb_spec.rb:7:in `block (2 levels) in &lt;top (required)&gt;&#39;</span>

<span class="go">Finished in 0.13094 seconds</span>
<span class="go">4 examples, 1 failure, 2 pending</span>

<span class="go">Failed examples:</span>

<span class="go">rspec ./spec/views/home/index.html.erb_spec.rb:5 # home/index.html.erb shows display welcome to stinky trainers on the home page</span>
</pre></div>

<p>Note the **F in the first line (it may be a different). We now have two pending tests and a failing test.</p>

<p><strong>DON&quot;T FORGET TO GO BACK AND FIX THE TEST WE&quot;VE JUST BROKEN</strong></p>

<div class="fb-comments"
     data-href="http://www.stinkytrainers.co.uk/ruby-on-rails-tutorial/2-create-the-home-page.html#testing-make-sure-the-home-page-displays-the-right-text"
     data-num-posts="2"
     data-width="auto">
</div>
