<p><a id='top'></a></p>

<p>We have a Sport model that we&#39;ve hooked to the User in a has_and_belongs_to_many relationship. We need to be able to carry out most of the basic CRUD actions:</p>

<ol>
<li>List sports</li>
<li>Create a Sport</li>
<li>Destroy a Sport</li>
</ol>

<p>For this first release of Stinkytrainers Sport will be a simple &#39;lookup&#39; value with a name so we don&#39;t really need to edit a sport.</p>

<h2>Generate the Sports Controller</h2>

<p>To make these actions work we&#39;ll need a controller:  </p>
<div class="highlight"><pre><span class="go">bundle exec rails g controller sports index create destroy</span>
</pre></div>

<p>which returns</p>
<div class="highlight"><pre><span class="go">create  app/controllers/sports_controller.rb</span>
<span class="go">      route  get &quot;sports/destroy&quot;</span>
<span class="go">      route  get &quot;sports/create&quot;</span>
<span class="go">      route  get &quot;sports/new&quot;</span>
<span class="go">      route  get &quot;sports/index&quot;</span>
<span class="go">     invoke  erb</span>
<span class="go">     create    app/views/sports</span>
<span class="go">     create    app/views/sports/index.html.erb</span>
<span class="go">     create    app/views/sports/new.html.erb</span>
<span class="go">     create    app/views/sports/create.html.erb</span>
<span class="go">     create    app/views/sports/destroy.html.erb</span>
<span class="go">     invoke  rspec</span>
<span class="go">     create    spec/controllers/sports_controller_spec.rb</span>
<span class="go">     create    spec/views/sports</span>
<span class="go">     create    spec/views/sports/index.html.erb_spec.rb</span>
<span class="go">     create    spec/views/sports/new.html.erb_spec.rb</span>
<span class="go">     create    spec/views/sports/create.html.erb_spec.rb</span>
<span class="go">     create    spec/views/sports/destroy.html.erb_spec.rb</span>
<span class="go">     invoke  helper</span>
<span class="go">     create    app/helpers/sports_helper.rb</span>
<span class="go">     invoke    rspec</span>
<span class="go">     create      spec/helpers/sports_helper_spec.rb</span>
<span class="go">     invoke  assets</span>
<span class="go">     invoke    coffee</span>
<span class="go">     create      app/assets/javascripts/sports.js.coffee</span>
<span class="go">     invoke    scss</span>
<span class="go">     create      app/assets/stylesheets/sports.css.scss</span>
</pre></div>

<p>We&#39;ve created a controller with views for index, new, create and destroy plus associated tests. </p>
<div class="highlight"><pre><span class="k">class</span> <span class="nc">SportsController</span> <span class="o">&lt;</span> <span class="no">ApplicationController</span>
  <span class="k">def</span> <span class="nf">index</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">new</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">create</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">destroy</span>
  <span class="k">end</span>
<span class="k">end</span>
</pre></div>

<p>There are some css and coffee script files that we may use later. We certainly won&#39;t be using the destroy.html.erb and create.html.erb files; when we create a new sport or destroy one we&#39;ll redirect to the index page rather than show a create or destroy page so let&#39;s delete the following:</p>
<div class="highlight"><pre><span class="go">app/views/sports/create.html.erb</span>
<span class="go">app/views/sports/destroy.html.erb</span>

<span class="go">spec/views/sports/create.html.erb_spec.rb</span>
<span class="go">spec/views/sports/destroy.html.erb_spec.rb</span>
</pre></div>

<h3>5.3.3. Make Sport a RESTful resource</h3>

<p>Remove these lines from config/routes.rb</p>
<div class="highlight"><pre><span class="n">get</span> <span class="s2">&quot;sports/index&quot;</span>

<span class="n">get</span> <span class="s2">&quot;sports/new&quot;</span>

<span class="n">get</span> <span class="s2">&quot;sports/create&quot;</span>

<span class="n">get</span> <span class="s2">&quot;sports/destroy&quot;</span>
</pre></div>

<p>and put this line in their place</p>
<div class="highlight"><pre><span class="n">resources</span> <span class="ss">:sports</span><span class="p">,</span> <span class="ss">:only</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="ss">:index</span><span class="p">,</span> <span class="ss">:new</span><span class="p">,</span> <span class="ss">:create</span><span class="p">,</span> <span class="ss">:destory</span><span class="o">]</span>
</pre></div>

<p>Run <code>bundle exec rake routes</code> to see the routes that will connect to our sports_controller&#39;s index, new create &amp; destroy actions</p>
<div class="highlight"><pre><span class="go">     new_user_session GET    /users/sign_in(.:format)                  devise/sessions#new</span>
<span class="go">            user_session POST   /users/sign_in(.:format)                  devise/sessions#create</span>
<span class="go">    destroy_user_session DELETE /users/sign_out(.:format)                 devise/sessions#destroy</span>
<span class="go">           user_password POST   /users/password(.:format)                 devise/passwords#create</span>
<span class="go">       new_user_password GET    /users/password/new(.:format)             devise/passwords#new</span>
<span class="go">      edit_user_password GET    /users/password/edit(.:format)            devise/passwords#edit</span>
<span class="go">                         PUT    /users/password(.:format)                 devise/passwords#update</span>
<span class="go">cancel_user_registration GET    /users/cancel(.:format)                   devise/registrations#cancel</span>
<span class="go">       user_registration POST   /users(.:format)                          devise/registrations#create</span>
<span class="go">   new_user_registration GET    /users/sign_up(.:format)                  devise/registrations#new</span>
<span class="go">  edit_user_registration GET    /users/edit(.:format)                     devise/registrations#edit</span>
<span class="go">                         PUT    /users(.:format)                          devise/registrations#update</span>
<span class="go">                         DELETE /users(.:format)                          devise/registrations#destroy</span>
<span class="go">                  sports GET    /sports(.:format)                         sports#index</span>
<span class="go">                         POST   /sports(.:format)                         sports#create</span>
<span class="go">               new_sport GET    /sports/new(.:format)                     sports#new</span>
<span class="go">                   sport DELETE /sports/:id(.:format)                     sports#destroy</span>
<span class="go">         dashboard_index GET    /dashboard(.:format)                      dashboard#index</span>
<span class="go">                    root        /                                         home#index                                  home#index</span>
</pre></div>
