<div class="highlight"><pre><span class="go">bundle exec rails g model sports name:string</span>
</pre></div>
<div class="highlight"><pre><span class="go">      invoke  active_record</span>
<span class="go">      create    db/migrate/20120815201524_create_sports.rb</span>
<span class="go">      create    app/models/sport.rb</span>
<span class="go">      invoke    rspec</span>
<span class="go">      create      spec/models/sport_spec.rb</span>
<span class="go">      invoke      factory_girl</span>
<span class="go">      create        spec/factories/sports.rb</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rake db:migrate</span>
</pre></div>
<div class="highlight"><pre><span class="go">==  CreateSports: migrating ===================================================</span>
<span class="go">-- create_table(:sports)</span>
<span class="go">-&gt; 0.0009s</span>
<span class="go">==  CreateSports: migrated (0.0010s) ==========================================</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># spec/models/sport_spec.rb</span>
<span class="nb">require</span> <span class="s1">&#39;spec_helper&#39;</span>

<span class="n">describe</span> <span class="no">Sport</span> <span class="k">do</span>
  <span class="n">let</span><span class="p">(</span><span class="ss">:sport</span><span class="p">)</span> <span class="p">{</span>
    <span class="no">Sport</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="ss">:name</span> <span class="o">=&gt;</span> <span class="s1">&#39;Sport name&#39;</span><span class="p">)</span>
  <span class="p">}</span>

  <span class="n">it</span> <span class="s1">&#39;should not be valid if the name is nil&#39;</span> <span class="k">do</span>
    <span class="n">sport</span><span class="o">.</span><span class="n">name</span> <span class="o">=</span> <span class="kp">nil</span>

    <span class="n">sport</span><span class="o">.</span><span class="n">should_not</span> <span class="n">be_valid</span>
    <span class="n">sport</span><span class="o">.</span><span class="n">errors</span><span class="o">.</span><span class="n">to_a</span><span class="o">.</span><span class="n">should</span> <span class="kp">include</span><span class="p">(</span><span class="s2">&quot;Name can&#39;t be blank&quot;</span><span class="p">)</span>
  <span class="k">end</span>

<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rake spec</span>
</pre></div>
<div class="highlight"><pre><span class="go">  1) Sport should not be valid if the name is nil</span>
<span class="go">    Failure/Error: sport.should_not be_valid</span>
<span class="go">      expected valid? to return false, got true</span>
<span class="go">    # ./spec/models/sport_spec.rb:11:in `block (2 levels) in &lt;top (required)&gt;&#39;</span>
</pre></div>
<div class="highlight"><pre><span class="k">class</span> <span class="nc">Sport</span> <span class="o">&lt;</span> <span class="no">ActiveRecord</span><span class="o">::</span><span class="no">Base</span>
  <span class="n">attr_accessible</span> <span class="ss">:name</span>


  <span class="n">validates</span> <span class="ss">:name</span><span class="p">,</span>   <span class="ss">:presence</span> <span class="o">=&gt;</span> <span class="kp">true</span>
<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rake spec</span>
<span class="go">=&gt; GREEN</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># db/seeds.rb</span>

<span class="c1"># This file should contain all the record creation needed to seed the database with its default values.</span>
<span class="c1"># The data can then be loaded with the rake db:seed (or created alongside the db with db:setup).</span>
<span class="c1">#</span>
<span class="c1"># Examples:</span>
<span class="c1">#</span>
<span class="c1">#   cities = City.create([{ name: &#39;Chicago&#39; }, { name: &#39;Copenhagen&#39; }])</span>
<span class="c1">#   Mayor.create(name: &#39;Emanuel&#39;, city: cities.first)</span>

<span class="o">[</span><span class="s1">&#39;Tennis&#39;</span><span class="p">,</span> <span class="s1">&#39;Badminton&#39;</span><span class="p">,</span> <span class="s1">&#39;Golf&#39;</span><span class="p">,</span> <span class="s1">&#39;Squash&#39;</span><span class="p">,</span> <span class="s1">&#39;Pingpong&#39;</span><span class="o">].</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span> <span class="nb">name</span> <span class="o">|</span>
  <span class="no">Sport</span><span class="o">.</span><span class="n">create!</span><span class="p">(</span><span class="ss">:name</span> <span class="o">=&gt;</span> <span class="nb">name</span><span class="p">)</span> <span class="k">if</span> <span class="no">Sport</span><span class="o">.</span><span class="n">find_by_name</span><span class="p">(</span><span class="nb">name</span><span class="p">)</span><span class="o">.</span><span class="n">blank?</span>
<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rake db:seed</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rails g migration CreateSportsUsersJoinTable user_id:integer sport_id:integer</span>
</pre></div>
<div class="highlight"><pre><span class="go">      invoke  active_record</span>
<span class="go">      create    db/migrate/20120816150136_create_sports_users_join_table.rb</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># db/migrate/20120816150136_create_sports_users_join_table.rb</span>

<span class="k">class</span> <span class="nc">CreateSportsUsersJoinTable</span> <span class="o">&lt;</span> <span class="no">ActiveRecord</span><span class="o">::</span><span class="no">Migration</span>
  <span class="k">def</span> <span class="nf">change</span>
    <span class="n">create_table</span> <span class="ss">:sports_users</span><span class="p">,</span> <span class="ss">:id</span> <span class="o">=&gt;</span> <span class="kp">false</span> <span class="k">do</span> <span class="o">|</span><span class="n">t</span><span class="o">|</span>
      <span class="n">t</span><span class="o">.</span><span class="n">integer</span> <span class="ss">:user_id</span>
      <span class="n">t</span><span class="o">.</span><span class="n">integer</span> <span class="ss">:sport_id</span>
    <span class="k">end</span>

    <span class="n">add_index</span> <span class="ss">:sports_users</span><span class="p">,</span> <span class="o">[</span><span class="ss">:user_id</span><span class="p">,</span> <span class="ss">:sport_id</span><span class="o">]</span>
  <span class="k">end</span>
<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rake db:migrate</span>
</pre></div>
<div class="highlight"><pre><span class="go">==  CreateSportsUsersJoinTable: migrating =====================================</span>
<span class="go">-- create_table(:sports_users, {:id=&gt;false})</span>
<span class="go">   -&gt; 0.0063s</span>
<span class="go">-- add_index(:sports_users, [:user_id, :sport_id])</span>
<span class="go">   -&gt; 0.0005s</span>
<span class="go">==  CreateSportsUsersJoinTable: migrated (0.0064s) ============================</span>
</pre></div>
<div class="highlight"><pre><span class="k">class</span> <span class="nc">User</span> <span class="o">&lt;</span> <span class="no">ActiveRecord</span><span class="o">::</span><span class="no">Base</span>
  <span class="c1"># Include default devise modules. Others available are:</span>
  <span class="c1"># :token_authenticatable, :confirmable,</span>
  <span class="c1"># :lockable, :timeoutable and :omniauthable</span>
  <span class="n">devise</span> <span class="ss">:database_authenticatable</span><span class="p">,</span> <span class="ss">:registerable</span><span class="p">,</span>
         <span class="ss">:recoverable</span><span class="p">,</span> <span class="ss">:rememberable</span><span class="p">,</span> <span class="ss">:trackable</span><span class="p">,</span> <span class="ss">:validatable</span>

  <span class="c1"># Setup accessible (or protected) attributes for your model</span>
  <span class="n">attr_accessible</span> <span class="ss">:email</span><span class="p">,</span> <span class="ss">:password</span><span class="p">,</span> <span class="ss">:password_confirmation</span><span class="p">,</span> <span class="ss">:remember_me</span>
  <span class="c1"># attr_accessible :title, :body</span>

  <span class="n">has_and_belongs_to_many</span> <span class="ss">:sports</span>
<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="k">class</span> <span class="nc">Sport</span> <span class="o">&lt;</span> <span class="no">ActiveRecord</span><span class="o">::</span><span class="no">Base</span>
  <span class="n">attr_accessible</span> <span class="ss">:name</span>

  <span class="n">has_and_belongs_to_many</span> <span class="ss">:users</span>

  <span class="n">validates</span> <span class="ss">:name</span><span class="p">,</span>   <span class="ss">:presence</span> <span class="o">=&gt;</span> <span class="kp">true</span>
<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rake spec</span>
<span class="go">=&gt; GREEN</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rails g controller sports index edit</span>
</pre></div>
<div class="highlight"><pre><span class="go">      create  app/controllers/sports_controller.rb</span>
<span class="go">       route  get &quot;sports/new&quot;</span>
<span class="go">       route  get &quot;sports/index&quot;</span>
<span class="go">      invoke  erb</span>
<span class="go">      create    app/views/sports</span>
<span class="go">      create    app/views/sports/index.html.erb</span>
<span class="go">      create    app/views/sports/new.html.erb</span>
<span class="go">      invoke  rspec</span>
<span class="go">      create    spec/controllers/sports_controller_spec.rb</span>
<span class="go">      create    spec/views/sports</span>
<span class="go">      create    spec/views/sports/index.html.erb_spec.rb</span>
<span class="go">      create    spec/views/sports/new.html.erb_spec.rb</span>
<span class="go">      invoke  helper</span>
<span class="go">      create    app/helpers/sports_helper.rb</span>
<span class="go">      invoke    rspec</span>
<span class="go">      create      spec/helpers/sports_helper_spec.rb</span>
<span class="go">      invoke  assets</span>
<span class="go">      invoke    coffee</span>
<span class="go">      create      app/assets/javascripts/sports.js.coffee</span>
<span class="go">      invoke    scss</span>
<span class="go">      create      app/assets/stylesheets/sports.css.scss</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># config/routes.rb</span>

<span class="no">Smudger</span><span class="o">::</span><span class="no">Application</span><span class="o">.</span><span class="n">routes</span><span class="o">.</span><span class="n">draw</span> <span class="k">do</span>
  <span class="n">resources</span> <span class="ss">:sports</span><span class="p">,</span> <span class="ss">:only</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="ss">:index</span><span class="p">,</span> <span class="ss">:new</span><span class="p">,</span> <span class="ss">:create</span><span class="p">,</span> <span class="ss">:destory</span><span class="o">]</span>

  <span class="n">devise_for</span> <span class="ss">:users</span>

  <span class="n">resources</span> <span class="ss">:dashboard</span><span class="p">,</span> <span class="ss">:only</span> <span class="o">=&gt;</span> <span class="o">[</span><span class="ss">:index</span><span class="o">]</span>

  <span class="n">get</span> <span class="s2">&quot;home/index&quot;</span>

<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="go">rm spec/controllers/sports_controller_spec.rb</span>
<span class="go">rm spec/helpers/sports_helper_spec.rb</span>
<span class="go">rm -rf spec/views/sports</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># spec/integration/sports/authentication_spec.rb</span>

<span class="nb">require</span> <span class="s1">&#39;spec_helper&#39;</span>

<span class="n">describe</span> <span class="s1">&#39;only registred users can access sports&#39;</span> <span class="k">do</span>

  <span class="n">it</span> <span class="s1">&#39;should require users to sign in when they trying to access sports&#39;</span> <span class="k">do</span>
    <span class="n">user</span> <span class="o">=</span> <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:user</span><span class="p">)</span>

    <span class="n">visit</span> <span class="n">sports_path</span>

    <span class="n">page</span><span class="o">.</span><span class="n">current_path</span><span class="o">.</span><span class="n">should</span> <span class="o">==</span> <span class="n">new_user_session_path</span>

    <span class="n">fill_in</span><span class="p">(</span><span class="s1">&#39;Email&#39;</span><span class="p">,</span> <span class="ss">:with</span> <span class="o">=&gt;</span> <span class="n">user</span><span class="o">.</span><span class="n">email</span><span class="p">)</span>
    <span class="n">fill_in</span><span class="p">(</span><span class="s1">&#39;Password&#39;</span><span class="p">,</span> <span class="ss">:with</span> <span class="o">=&gt;</span> <span class="n">user</span><span class="o">.</span><span class="n">password</span><span class="p">)</span>

    <span class="n">click_button</span><span class="p">(</span><span class="s1">&#39;Sign in&#39;</span><span class="p">)</span>

    <span class="n">page</span><span class="o">.</span><span class="n">current_path</span><span class="o">.</span><span class="n">should</span> <span class="o">==</span> <span class="n">sports_path</span>
  <span class="k">end</span>


<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rake spec</span>
</pre></div>
<div class="highlight"><pre><span class="go">Failures:</span>

<span class="go">    1) only registred users can access sports should require users to sign in when they trying to access sports</span>
<span class="go">       Failure/Error: page.current_path.should == new_user_session_path</span>
<span class="go">         expected: &quot;/users/sign_in&quot;</span>
<span class="go">              got: &quot;/sports&quot; (using ==)</span>
<span class="go">       # ./spec/integration/sports/authentication_spec.rb:10:in `block (2 levels) in &lt;top (required)&gt;&#39;</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># app/controllers/sports_controller.rb</span>

<span class="k">class</span> <span class="nc">SportsController</span> <span class="o">&lt;</span> <span class="no">ApplicationController</span>
  <span class="n">before_filter</span> <span class="ss">:authenticate_user!</span>

  <span class="k">def</span> <span class="nf">index</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">new</span>
  <span class="k">end</span>

<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rake spec</span>
<span class="go">=&gt; GREEN</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># spec/integration/sports/restful_spec.rb</span>

<span class="nb">require</span> <span class="s1">&#39;spec_helper&#39;</span>

<span class="n">describe</span> <span class="s1">&#39;restful&#39;</span> <span class="k">do</span>
  <span class="n">let</span><span class="p">(</span><span class="ss">:user</span><span class="p">)</span> <span class="p">{</span> <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:user</span><span class="p">)</span> <span class="p">}</span>
  <span class="n">before</span> <span class="ss">:each</span> <span class="k">do</span>
    <span class="n">smudger_sign_in</span><span class="p">(</span><span class="n">user</span><span class="p">)</span>
  <span class="k">end</span>

  <span class="n">describe</span> <span class="s1">&#39;showing all sports&#39;</span> <span class="k">do</span>

    <span class="n">it</span> <span class="s2">&quot;should show only user&#39;s sports&quot;</span> <span class="k">do</span>
      <span class="n">user</span><span class="o">.</span><span class="n">sports</span> <span class="o">&lt;&lt;</span> <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:sport</span><span class="p">,</span> <span class="ss">:name</span> <span class="o">=&gt;</span> <span class="s1">&#39;Tennis&#39;</span><span class="p">)</span>
      <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:user</span><span class="p">)</span><span class="o">.</span><span class="n">sports</span> <span class="o">&lt;&lt;</span> <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:sport</span><span class="p">,</span> <span class="ss">:name</span> <span class="o">=&gt;</span> <span class="s1">&#39;Football&#39;</span><span class="p">)</span>

      <span class="n">visit</span> <span class="n">sports_path</span>

      <span class="n">page</span><span class="o">.</span><span class="n">should</span> <span class="n">have_content</span><span class="p">(</span><span class="s1">&#39;Tennis&#39;</span><span class="p">)</span>
      <span class="n">page</span><span class="o">.</span><span class="n">should_not</span> <span class="n">have_content</span><span class="p">(</span><span class="s1">&#39;Football&#39;</span><span class="p">)</span>

    <span class="k">end</span>

  <span class="k">end</span>

<span class="k">end</span>

<span class="o">~~</span>

<span class="o">~~~</span><span class="n">console</span>
<span class="n">bundle</span> <span class="nb">exec</span> <span class="n">rake</span> <span class="n">spec</span>
</pre></div>
<div class="highlight"><pre><span class="go">  1) restful showing all sports should show only user&#39;s sports</span>
<span class="go">     Failure/Error: page.should have_content(&#39;Tennis&#39;)</span>
<span class="go">       expected there to be content &quot;Tennis&quot; in &quot;Smudger\n\n    \n      \n        \n          \n            \n            \n            \n          \n          Smudger\n          \n            Dashboard\n                Sports\n                Connections\n                Invites\n                Sign Out\n            \n        \n      \n    \n\n    \n      \n        \n           \n             Listing sports\n\nName\n      \n      \n    New Sport\n\n           \n        \n      \n\n      © Company 2012\n       \n\n    \n    \n    &quot;</span>
<span class="go">     # ./spec/integration/sports/restful_spec.rb:17:in `block (3 levels) in &lt;top (required)&gt;&#39;</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># app/controllers/sports_controller.rb</span>

<span class="k">class</span> <span class="nc">SportsController</span> <span class="o">&lt;</span> <span class="no">ApplicationController</span>
  <span class="n">before_filter</span> <span class="ss">:authenticate_user!</span>

  <span class="k">def</span> <span class="nf">index</span>
    <span class="vi">@sports</span> <span class="o">=</span> <span class="n">current_user</span><span class="o">.</span><span class="n">sports</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">new</span>
  <span class="k">end</span>

<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># app/views/sports/index.html.erb </span>
<span class="o">&lt;</span><span class="n">h1</span><span class="o">&gt;</span><span class="no">Listing</span> <span class="n">sports</span><span class="o">&lt;</span><span class="sr">/h1&gt;</span>

<span class="sr">&lt;table class=&#39;table&#39;&gt;</span>
<span class="sr">  &lt;thead&gt;</span>
<span class="sr">    &lt;tr&gt;</span>
<span class="sr">      &lt;th&gt;Name&lt;/</span><span class="n">th</span><span class="o">&gt;</span>
    <span class="o">&lt;</span><span class="sr">/tr&gt;</span>
<span class="sr">  &lt;/</span><span class="n">thead</span><span class="o">&gt;</span>

  <span class="o">&lt;</span><span class="n">tbody</span><span class="o">&gt;</span>
    <span class="o">&lt;</span><span class="sx">% @sports.each </span><span class="k">do</span> <span class="o">|</span><span class="n">sport</span><span class="o">|</span> <span class="sx">%&gt;</span>
<span class="sx">      &lt;tr&gt;</span>
        <span class="o">&lt;</span><span class="n">td</span><span class="o">&gt;&lt;%=</span> <span class="n">sport</span><span class="o">.</span><span class="n">name</span> <span class="sx">%&gt;&lt;/td&gt;</span>
      <span class="o">&lt;</span><span class="sr">/tr&gt;</span>
<span class="sr">    &lt;% end %&gt;</span>
<span class="sr">  &lt;/</span><span class="n">tbody</span><span class="o">&gt;</span>
<span class="o">&lt;</span><span class="sr">/table&gt;</span>

<span class="sr">&lt;br /</span><span class="o">&gt;</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rake spec</span>
<span class="go">=&gt; GREEN</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># spec/integration/sports/restful_spec.rb</span>

<span class="nb">require</span> <span class="s1">&#39;spec_helper&#39;</span>

<span class="n">describe</span> <span class="s1">&#39;restful&#39;</span> <span class="k">do</span>
  <span class="n">let</span><span class="p">(</span><span class="ss">:user</span><span class="p">)</span> <span class="p">{</span> <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:user</span><span class="p">)</span> <span class="p">}</span>
  <span class="n">before</span> <span class="ss">:each</span> <span class="k">do</span>
    <span class="n">smudger_sign_in</span><span class="p">(</span><span class="n">user</span><span class="p">)</span>
  <span class="k">end</span>

  <span class="n">describe</span> <span class="s1">&#39;showing all sports&#39;</span> <span class="k">do</span>

    <span class="n">it</span> <span class="s2">&quot;should show only user&#39;s sports&quot;</span> <span class="k">do</span>
      <span class="n">user</span><span class="o">.</span><span class="n">sports</span> <span class="o">&lt;&lt;</span> <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:sport</span><span class="p">,</span> <span class="ss">:name</span> <span class="o">=&gt;</span> <span class="s1">&#39;Tennis&#39;</span><span class="p">)</span>
      <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:user</span><span class="p">)</span><span class="o">.</span><span class="n">sports</span> <span class="o">&lt;&lt;</span> <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:sport</span><span class="p">,</span> <span class="ss">:name</span> <span class="o">=&gt;</span> <span class="s1">&#39;Football&#39;</span><span class="p">)</span>

      <span class="n">visit</span> <span class="n">sports_path</span>

      <span class="n">page</span><span class="o">.</span><span class="n">should</span> <span class="n">have_content</span><span class="p">(</span><span class="s1">&#39;Tennis&#39;</span><span class="p">)</span>
      <span class="n">page</span><span class="o">.</span><span class="n">should_not</span> <span class="n">have_content</span><span class="p">(</span><span class="s1">&#39;Football&#39;</span><span class="p">)</span>

    <span class="k">end</span>

  <span class="k">end</span>

  <span class="n">describe</span> <span class="s1">&#39;adding new sport&#39;</span> <span class="k">do</span>

    <span class="n">it</span> <span class="s1">&#39;should be able add new sport&#39;</span> <span class="k">do</span>
      <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:sport</span><span class="p">,</span> <span class="ss">:name</span> <span class="o">=&gt;</span> <span class="s1">&#39;Tennis&#39;</span><span class="p">)</span>
      <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:sport</span><span class="p">,</span> <span class="ss">:name</span> <span class="o">=&gt;</span> <span class="s1">&#39;Pinpong&#39;</span><span class="p">)</span>

      <span class="n">visit</span> <span class="n">sports_path</span>

      <span class="n">click_link</span><span class="p">(</span><span class="s1">&#39;New Sport&#39;</span><span class="p">)</span>

      <span class="nb">select</span><span class="p">(</span><span class="s1">&#39;Tennis&#39;</span><span class="p">,</span> <span class="ss">:from</span> <span class="o">=&gt;</span> <span class="s1">&#39;Select Sport&#39;</span><span class="p">)</span>

      <span class="n">click_button</span><span class="p">(</span><span class="s1">&#39;Create Sport&#39;</span><span class="p">)</span>

      <span class="n">page</span><span class="o">.</span><span class="n">current_path</span><span class="o">.</span><span class="n">should</span> <span class="o">==</span> <span class="n">sports_path</span>
      <span class="n">page</span><span class="o">.</span><span class="n">should</span> <span class="n">have_content</span><span class="p">(</span><span class="s1">&#39;Tennis&#39;</span><span class="p">)</span>

    <span class="k">end</span>

  <span class="k">end</span>

<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rake spec</span>
</pre></div>
<div class="highlight"><pre><span class="go">Failures:</span>

<span class="go">    1) restful adding new sport should be able add new sport</span>
<span class="go">       Failure/Error: select(&#39;Tennis&#39;, :from =&gt; &#39;Select Sport&#39;)</span>
<span class="go">         Capybara::ElementNotFound:</span>
<span class="go">           cannot select option, no select box with id, name, or label &#39;Select Sport&#39; found</span>
<span class="go">       # (eval):2:in `select&#39;</span>
<span class="go">       # ./spec/integration/sports/restful_spec.rb:34:in `block (3 levels) in &lt;top (required)&gt;&#39;</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># app/controllers/sports_controller.rb</span>

<span class="k">class</span> <span class="nc">SportsController</span> <span class="o">&lt;</span> <span class="no">ApplicationController</span>
  <span class="n">before_filter</span> <span class="ss">:authenticate_user!</span>

  <span class="k">def</span> <span class="nf">index</span>
    <span class="vi">@sports</span> <span class="o">=</span> <span class="n">current_user</span><span class="o">.</span><span class="n">sports</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">new</span>
    <span class="vi">@availabile_sports</span> <span class="o">=</span> <span class="no">Sport</span><span class="o">.</span><span class="n">all</span><span class="o">.</span><span class="n">collect</span> <span class="p">{</span> <span class="o">|</span><span class="n">s</span><span class="o">|</span> <span class="o">[</span><span class="n">s</span><span class="o">.</span><span class="n">name</span><span class="p">,</span> <span class="n">s</span><span class="o">.</span><span class="n">id</span><span class="o">]</span><span class="p">}</span>
  <span class="k">end</span>

<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># app/views/sports/new.html.erb</span>

<span class="o">&lt;</span><span class="sx">%= form_tag sports_path, :class =</span><span class="o">&gt;</span> <span class="s1">&#39;form-horizontal&#39;</span> <span class="k">do</span> <span class="sx">%&gt;</span>
<span class="sx">  &lt;div class=&quot;control-group&quot;&gt;</span>
    <span class="o">&lt;</span><span class="sx">%= label_tag :sport, &#39;Select Sport&#39;, :class =</span><span class="o">&gt;</span> <span class="s1">&#39;control-label&#39;</span> <span class="sx">%&gt;</span>
<span class="sx">    &lt;div class=&#39;controls&#39;&gt;</span>
      <span class="o">&lt;</span><span class="sx">%= select_tag :sport, options_from_collection_for_select(@availabile_sports, :id, :name), :class =</span><span class="o">&gt;</span> <span class="s1">&#39;input-xlarge&#39;</span> <span class="sx">%&gt;</span>
<span class="sx">    &lt;/div&gt;</span>
  <span class="o">&lt;</span><span class="sr">/div&gt;</span>

<span class="sr">  &lt;div class=&quot;form-actions&quot;&gt;</span>
<span class="sr">    &lt;%= submit_tag &#39;Create Sport&#39;, :class =&gt; &#39;btn btn-primary&#39; %&gt;</span>
<span class="sr">    &lt;%= link_to &#39;Back&#39;, sports_path, :class =&gt; &#39;btn&#39; %&gt;</span>
<span class="sr">  &lt;/</span><span class="n">div</span><span class="o">&gt;</span>
<span class="o">&lt;</span><span class="sx">% end </span><span class="o">%&gt;</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rake spec</span>
</pre></div>
<div class="highlight"><pre><span class="go">  2) restful adding new sport should be able add new sport</span>
<span class="go">     Failure/Error: click_button(&#39;Create Sport&#39;)</span>
<span class="go">       AbstractController::ActionNotFound:</span>
<span class="go">         The action &#39;create&#39; could not be found for SportsController</span>
<span class="go">     # (eval):2:in `click_button&#39;</span>
<span class="go">     # ./spec/integration/sports/restful_spec.rb:36:in `block (3 levels) in &lt;top (required)&gt;&#39;</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># app/controllers/sports_controller.rb</span>

<span class="k">class</span> <span class="nc">SportsController</span> <span class="o">&lt;</span> <span class="no">ApplicationController</span>
  <span class="n">before_filter</span> <span class="ss">:authenticate_user!</span>

  <span class="k">def</span> <span class="nf">index</span>
    <span class="vi">@sports</span> <span class="o">=</span> <span class="n">current_user</span><span class="o">.</span><span class="n">sports</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">edit</span>
    <span class="vi">@sports_list</span> <span class="o">=</span> <span class="no">Sport</span><span class="o">.</span><span class="n">all</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">update</span>
    <span class="vi">@sport</span> <span class="o">=</span> <span class="no">Sport</span><span class="o">.</span><span class="n">find</span><span class="p">(</span><span class="n">params</span><span class="o">[</span><span class="ss">:sport</span><span class="o">]</span><span class="p">)</span>

    <span class="k">if</span> <span class="vi">@sport</span> <span class="o">&amp;&amp;</span> <span class="n">current_user</span><span class="o">.</span><span class="n">sports</span> <span class="o">&lt;&lt;</span> <span class="vi">@sport</span>
      <span class="n">redirect_to</span> <span class="n">sports_path</span> <span class="n">notice</span><span class="p">:</span> <span class="s1">&#39;Sport was successfully added.&#39;</span>
    <span class="k">else</span>
      <span class="n">render</span> <span class="n">action</span><span class="p">:</span> <span class="s2">&quot;edit&quot;</span>
    <span class="k">end</span>
  <span class="k">end</span>
<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rake spec</span>
<span class="go">=&gt; GREEN</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># spec/integration/sports/restful_spec.rb</span>

<span class="nb">require</span> <span class="s1">&#39;spec_helper&#39;</span>

<span class="n">describe</span> <span class="s1">&#39;restful&#39;</span> <span class="k">do</span>
  <span class="n">let</span><span class="p">(</span><span class="ss">:user</span><span class="p">)</span> <span class="p">{</span> <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:user</span><span class="p">)</span> <span class="p">}</span>
  <span class="n">before</span> <span class="ss">:each</span> <span class="k">do</span>
    <span class="n">smudger_sign_in</span><span class="p">(</span><span class="n">user</span><span class="p">)</span>
  <span class="k">end</span>

  <span class="n">describe</span> <span class="s1">&#39;showing all sports&#39;</span> <span class="k">do</span>

    <span class="n">it</span> <span class="s2">&quot;should show only user&#39;s sports&quot;</span> <span class="k">do</span>
      <span class="n">user</span><span class="o">.</span><span class="n">sports</span> <span class="o">&lt;&lt;</span> <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:sport</span><span class="p">,</span> <span class="ss">:name</span> <span class="o">=&gt;</span> <span class="s1">&#39;Tennis&#39;</span><span class="p">)</span>
      <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:user</span><span class="p">)</span><span class="o">.</span><span class="n">sports</span> <span class="o">&lt;&lt;</span> <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:sport</span><span class="p">,</span> <span class="ss">:name</span> <span class="o">=&gt;</span> <span class="s1">&#39;Football&#39;</span><span class="p">)</span>

      <span class="n">visit</span> <span class="n">sports_path</span>

      <span class="n">page</span><span class="o">.</span><span class="n">should</span> <span class="n">have_content</span><span class="p">(</span><span class="s1">&#39;Tennis&#39;</span><span class="p">)</span>
      <span class="n">page</span><span class="o">.</span><span class="n">should_not</span> <span class="n">have_content</span><span class="p">(</span><span class="s1">&#39;Football&#39;</span><span class="p">)</span>

    <span class="k">end</span>

  <span class="k">end</span>

  <span class="n">describe</span> <span class="s1">&#39;adding new sport&#39;</span> <span class="k">do</span>

    <span class="n">it</span> <span class="s1">&#39;should be able add new sport&#39;</span> <span class="k">do</span>
      <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:sport</span><span class="p">,</span> <span class="ss">:name</span> <span class="o">=&gt;</span> <span class="s1">&#39;Tennis&#39;</span><span class="p">)</span>
      <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:sport</span><span class="p">,</span> <span class="ss">:name</span> <span class="o">=&gt;</span> <span class="s1">&#39;Pinpong&#39;</span><span class="p">)</span>

      <span class="n">visit</span> <span class="n">sports_path</span>

      <span class="n">click_link</span><span class="p">(</span><span class="s1">&#39;New Sport&#39;</span><span class="p">)</span>

      <span class="nb">select</span><span class="p">(</span><span class="s1">&#39;Tennis&#39;</span><span class="p">,</span> <span class="ss">:from</span> <span class="o">=&gt;</span> <span class="s1">&#39;Select Sport&#39;</span><span class="p">)</span>

      <span class="n">click_button</span><span class="p">(</span><span class="s1">&#39;Create Sport&#39;</span><span class="p">)</span>

      <span class="n">page</span><span class="o">.</span><span class="n">current_path</span><span class="o">.</span><span class="n">should</span> <span class="o">==</span> <span class="n">sports_path</span>
      <span class="n">page</span><span class="o">.</span><span class="n">should</span> <span class="n">have_content</span><span class="p">(</span><span class="s1">&#39;Tennis&#39;</span><span class="p">)</span>

    <span class="k">end</span>

  <span class="k">end</span>

  <span class="n">describe</span> <span class="s1">&#39;destroing sport&#39;</span> <span class="k">do</span>

    <span class="n">it</span> <span class="s1">&#39;sould be able destroy the sport&#39;</span> <span class="k">do</span>
      <span class="n">user</span><span class="o">.</span><span class="n">sports</span> <span class="o">&lt;&lt;</span> <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:sport</span><span class="p">,</span> <span class="ss">:name</span> <span class="o">=&gt;</span> <span class="s1">&#39;Tennis&#39;</span><span class="p">)</span>

      <span class="n">visit</span> <span class="n">sports_path</span>

      <span class="n">page</span><span class="o">.</span><span class="n">should</span> <span class="n">have_content</span><span class="p">(</span><span class="s1">&#39;Tennis&#39;</span><span class="p">)</span>

      <span class="n">click_link</span><span class="p">(</span><span class="s1">&#39;Destroy&#39;</span><span class="p">)</span>

      <span class="n">page</span><span class="o">.</span><span class="n">current_path</span><span class="o">.</span><span class="n">should</span> <span class="o">==</span> <span class="n">sports_path</span>
      <span class="n">page</span><span class="o">.</span><span class="n">should_not</span> <span class="n">have_content</span><span class="p">(</span><span class="s1">&#39;Tennis&#39;</span><span class="p">)</span>

    <span class="k">end</span>

  <span class="k">end</span>


<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rake spec</span>
</pre></div>
<div class="highlight"><pre><span class="go">Failures:</span>

<span class="go">    1) restful destroing sport sould be able destroy the sport</span>
<span class="go">       Failure/Error: click_link(&#39;Destroy&#39;)</span>
<span class="go">         AbstractController::ActionNotFound:</span>
<span class="go">           The action &#39;destroy&#39; could not be found for SportsController</span>
<span class="go">       # (eval):2:in `click_link&#39;</span>
<span class="go">       # ./spec/integration/sports/restful_spec.rb:54:in `block (3 levels) in &lt;top (required)&gt;&#39;</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># app/controllers/sports_controller.rb</span>

<span class="k">class</span> <span class="nc">SportsController</span> <span class="o">&lt;</span> <span class="no">ApplicationController</span>
  <span class="n">before_filter</span> <span class="ss">:authenticate_user!</span>

  <span class="k">def</span> <span class="nf">index</span>
    <span class="vi">@sports</span> <span class="o">=</span> <span class="n">current_user</span><span class="o">.</span><span class="n">sports</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">edit</span>
    <span class="vi">@availabile_sports</span> <span class="o">=</span> <span class="no">Sport</span><span class="o">.</span><span class="n">all</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">update</span>
    <span class="vi">@sport</span> <span class="o">=</span> <span class="no">Sport</span><span class="o">.</span><span class="n">find</span><span class="p">(</span><span class="n">params</span><span class="o">[</span><span class="ss">:user</span><span class="o">][</span><span class="ss">:sports</span><span class="o">]</span><span class="p">)</span>

    <span class="k">if</span> <span class="vi">@sport</span> <span class="o">&amp;&amp;</span> <span class="n">current_user</span><span class="o">.</span><span class="n">sports</span> <span class="o">&lt;&lt;</span> <span class="vi">@sport</span>
      <span class="n">redirect_to</span> <span class="n">sports_path</span> <span class="n">notice</span><span class="p">:</span> <span class="s1">&#39;Sport was successfully added.&#39;</span>
    <span class="k">else</span>
      <span class="n">render</span> <span class="n">action</span><span class="p">:</span> <span class="s2">&quot;edit&quot;</span>
    <span class="k">end</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">destroy</span>
    <span class="n">current_user</span><span class="o">.</span><span class="n">sports</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="no">Sport</span><span class="o">.</span><span class="n">find</span><span class="p">(</span><span class="n">params</span><span class="o">[</span><span class="ss">:id</span><span class="o">]</span><span class="p">))</span>

    <span class="n">redirect_to</span> <span class="n">sports_path</span>
  <span class="k">end</span>
<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rake spec</span>
<span class="go">=&gt; GREEN</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># spec/integration/sports/restful_spec.rb</span>

<span class="nb">require</span> <span class="s1">&#39;spec_helper&#39;</span>

<span class="n">describe</span> <span class="s1">&#39;restful&#39;</span> <span class="k">do</span>

  <span class="c1"># ...</span>

  <span class="n">describe</span> <span class="s1">&#39;adding new sport&#39;</span> <span class="k">do</span>

    <span class="c1"># ...</span>

    <span class="n">it</span> <span class="s1">&#39;should not show already coosen sports in list&#39;</span> <span class="k">do</span>
      <span class="n">pinpong</span> <span class="o">=</span> <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:sport</span><span class="p">,</span> <span class="ss">:name</span> <span class="o">=&gt;</span> <span class="s1">&#39;Pinpong&#39;</span><span class="p">)</span>
      <span class="n">tennis</span>  <span class="o">=</span> <span class="no">FactoryGirl</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="ss">:sport</span><span class="p">,</span> <span class="ss">:name</span> <span class="o">=&gt;</span> <span class="s1">&#39;Tennis&#39;</span><span class="p">)</span>
      <span class="n">user</span><span class="o">.</span><span class="n">sports</span> <span class="o">&lt;&lt;</span> <span class="n">tennis</span>

      <span class="n">visit</span> <span class="n">sports_path</span>

      <span class="n">click_link</span><span class="p">(</span><span class="s1">&#39;New Sport&#39;</span><span class="p">)</span>

      <span class="n">page</span><span class="o">.</span><span class="n">should</span>     <span class="n">have_xpath</span> <span class="s2">&quot;//select[@id = &#39;sport&#39;]/option[contains(text(), &#39;Pinpong&#39;)]&quot;</span>
      <span class="n">page</span><span class="o">.</span><span class="n">should_not</span> <span class="n">have_xpath</span> <span class="s2">&quot;//select[@id = &#39;sport&#39;]/option[contains(text(), &#39;Tennis&#39;)]&quot;</span>

    <span class="k">end</span>


  <span class="k">end</span>

  <span class="c1"># ...</span>

<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rake spec</span>
</pre></div>
<div class="highlight"><pre><span class="go">Failures:</span>

<span class="go">    1) restful adding new sport should not show already coosen sports in list</span>
<span class="go">       Failure/Error: page.should_not have_xpath &quot;//select[@id = &#39;sport&#39;]/option[contains(text(), &#39;Tennis&#39;)]&quot;</span>
<span class="go">         expected xpath &quot;//select[@id = &#39;sport&#39;]/option[contains(text(), &#39;Tennis&#39;)]&quot; not to return anything</span>
<span class="go">       # ./spec/integration/sports/restful_spec.rb:55:in `block (3 levels) in &lt;top (required)&gt;&#39;</span>
</pre></div>
<div class="highlight"><pre><span class="c1"># app/controllers/sports_controller.rb</span>

<span class="k">class</span> <span class="nc">SportsController</span> <span class="o">&lt;</span> <span class="no">ApplicationController</span>
  <span class="n">before_filter</span> <span class="ss">:authenticate_user!</span>

  <span class="k">def</span> <span class="nf">index</span>
    <span class="vi">@sports</span> <span class="o">=</span> <span class="n">current_user</span><span class="o">.</span><span class="n">sports</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">edit</span>
    <span class="vi">@availabile_sports</span> <span class="o">=</span> <span class="p">(</span><span class="no">Sport</span><span class="o">.</span><span class="n">all</span> <span class="o">-</span> <span class="n">current_user</span><span class="o">.</span><span class="n">sports</span><span class="p">)</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">update</span>
    <span class="vi">@sport</span> <span class="o">=</span> <span class="no">Sport</span><span class="o">.</span><span class="n">find</span><span class="p">(</span><span class="n">params</span><span class="o">[</span><span class="ss">:sport</span><span class="o">]</span><span class="p">)</span>

    <span class="k">if</span> <span class="vi">@sport</span> <span class="o">&amp;&amp;</span> <span class="n">current_user</span><span class="o">.</span><span class="n">sports</span> <span class="o">&lt;&lt;</span> <span class="vi">@sport</span>
      <span class="n">redirect_to</span> <span class="n">sports_path</span> <span class="n">notice</span><span class="p">:</span> <span class="s1">&#39;Sport was successfully added.&#39;</span>
    <span class="k">else</span>
      <span class="n">render</span> <span class="n">action</span><span class="p">:</span> <span class="s2">&quot;edit&quot;</span>
    <span class="k">end</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">destroy</span>
    <span class="n">current_user</span><span class="o">.</span><span class="n">sports</span><span class="o">.</span><span class="n">delete</span><span class="p">(</span><span class="no">Sport</span><span class="o">.</span><span class="n">find</span><span class="p">(</span><span class="n">params</span><span class="o">[</span><span class="ss">:id</span><span class="o">]</span><span class="p">))</span>

    <span class="n">redirect_to</span> <span class="n">sports_path</span>
  <span class="k">end</span>
<span class="k">end</span>
</pre></div>
<div class="highlight"><pre><span class="go">bundle exec rake spec</span>
<span class="go">=&gt; GREEN</span>
</pre></div>
