<h1>Stinky Trainers Tutorial</h1>
<p>Stinky Trainers is a tutorial about building complete Rails Applications. It's an alternative to all the 'build a Rails App in 15 mins' demos and cool examples that are hard to apply when taken out of their context.</p>

<p>The bad news is that it will take quite a while to complete. Ruby and Rails are amazing toolsets but there's a lot to learn.</p>

<p>The good news is that we explain everything we're doing along the way. By the time you've finished the tutorial & maybe asked us a few questions you'll have built a full, textbook app and be in a position to build the next one for yourself having covered all of the core Rails stuff such as ActiveRecord, ActionMailer, Migrations and Restful routing plus:</p>

<ul>
<li>Up and running with Twitter Bootstrap</li>
<li>Secure login with Devise</li>
<li>Testing with Capybara and RSpec</li>
<li>Image uploads with Paperclip</li>
<li>Deployment to Heroku</li>
</ul>

<p>We teach rails. The StinkyTrainers app is based on an existing course and we've written the tutorial in the same way we were run the course, answering the typical questions we get asked.</p>

<p>There's a lot to do but if you follow it carefully it will be as satisfying as it is educational.</p>

<p>We still run courses at the Docklands Academy near Canary Wharf . If you're an individual then sign-up and we'll let you know when we have enough people to run our next 3 day course.</p>

<p>If your a business looking to train a number of developers we typically teach on-site so contact us for more details.</p>

