<h1>Stinky Trainers Tutorial</h1>
<p>Stinky Trainers is a tutorial that builds complete Rails Application from 'rails new' through to 'cap deploy'. It's an alternative to the 'build a Rails App in 15 mins' and intended for anyone serious enough about learning to put in a good few hours of learning so that they get it right.</p>

<p>We're experienced Rails trainers that explain everything we're doing along the way. By the time you've finished the tutorial you'll have built a start-to-finish textbook rails app & ready to build the next one for yourself.</p>

<p>You'll find comments sections throughout the tutorial so feel free to ask a question or make an observation.</p>

<p>This course covers:</p>

<ul>
<li>Up and running with Twitter Bootstrap</li>
<li>RESTful routing</li>
<li>Secure login with Devise</li>
<li>Data access with ActiveRecord and data validation with ActiveModel</li>
<li>Functional testing with Capybara, unit testing with RSpec, mocking objects with Factory Girl.</li>
<li>Image uploads with Paperclip</li>
<li>Deployment to Heroku</li>
</ul>

<p>There's a lot to do but if you follow it carefully you'll get a good feel for the 'Rails Way' and, hopefully, enjoyed the experience.</p>

<p>We run courses at the Docklands Academy near Canary Wharf. If you're an individual then sign-up and we'll let you know when we have enough people to run our next 3 day course.</p>

<p>If your a business looking to train a number of developers we typically teach on-site so contact us for more details.</p>

<a href="" class="btn btn-primary">Start the tutorial</a>