<h1>Stinky Trainers Tutorial</h1>
<p>The Stinky Trainers tutorial was created by us as an alternative to all the 'Rails App in 15 mins' tutorials on the web. It's a complete, step-by-step course from 'rails new' through to 'cap deploy' and the bad news is that it'll take you several hours to complete. The good news is that we take the time to explain what we're thinking and why we're thinking it at every stage so by the time you've finished the tutorial you will have built & deployed a textbook Rails app that's covered:</p>

<ul>
	<li>Testing with RSpec and Capybara.</li>
	<li>Securing a Rails App with Devise.</li>
	<li>Deploying a Rails App to Heroku.</li>
	<li>Styling with Twitter Bootstrap.</li>
	<li>Mock objects with Factory Girl.</li>
</ul>
